/* <uniquifier>: Use a unique and descriptive class name
/* <weight>: Use a value from 100 to 700 

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
    background-color: #01010f;
    font-family: "Josefin Sans", serif;
}

:root {

    --color-principal: #ffd700;
    --texto-parrafo: #ffff4a;
}


nav {

    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(244, 243, 239, 0.37);
    border: 2px solid #eedd91;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 100;
    font-style: normal;
}

nav ul {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5rem;

}

a {

    padding: 0rem 2rem;
    color: #eedd91;
    text-decoration: none;
}

a:hover {

    text-decoration: underline;
}

header {

    background-image: ;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

header h1 {

    font-weight: 900;
    font-style: normal;
    font-size: 16rem;
    color: var(--color-principal);
    display: flex;
    align-self: center;
    justify-self: center;
    
}

/* QUIEN ES CHRONOS */

#Quieneschronos {


}

#Quieneschronos h1 {

    font-weight: 900;
    font-style: normal;
    font-size: 6rem;
    color: var(--color-principal);
    display: flex;
}

#Quieneschronos p {

    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--texto-parrafo);
    display: flex;
}

/* CONTÁME */

#AgregarHistoria {

    margin: 20px;
    color: var(--texto-parrafo);
}

#AgregarHistoria h1 {

    font-weight: 900;
    font-style: normal;
    font-size: 6rem;
    color: var(--color-principal);
    display: flex;
    margin: 0;
}

#AgregarHistoria p {

    margin: 0;
}

form {

    max-width: 600px;
    margin: auto;
    padding: 20px;
}

label {

    font-weight: normal;
    display: block;
    margin: 25px 0 10px;
}

input, textarea, select, button {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

/* FOOTER */

footer {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#ColumnaDerecha {

    text-align: center;
    justify-content: end;
    float: right;
}

#ColumnaIzquierda {

    display: flex;
}

#ColumnaIzquierda li {

    padding: 10px 0px;
    list-style: none;
}

footer img {

    width: 20%;
    height: auto;
}

footer p {

    color: var(--texto-parrafo);
    margin: 0;
}
