/* <uniquifier>: Use a unique and descriptive class name
/* <weight>: Use a value from 100 to 700 

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
    font-family: "Josefin Sans", serif;
    box-sizing: border-box;
}

:root {

    --color-principal: #ffd700;
    --texto-parrafo: #FFF680;
    --color-fondo: #031529;
    --fondo-secundario: #0055B3;
    --texto: #FFFFF3;
    --texto2: #031529;
}

body {

    margin: 0;
}

/* NAV */

nav {

    box-shadow: 0px 0px 30px rgba(244, 243, 239, 0.37);
    background-color: var(--color-fondo);
    width: 100%;
    box-sizing: border-box;
    font-weight: 100;
    font-style: normal;
    display: flex;
    padding: 1rem 5rem;
}

nav ul {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 5rem 0rem 72rem;

}

a {

    padding: 0rem 2rem;
    color: var(--texto-parrafo);
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover {

    text-decoration: underline;
}

/* HEADER */

#LogoTimexus {

    width: 3%;
    height: auto;
}

#SoloInicio {

    background-image: url(/Imgs/Fondos/NuevoGIF.gif);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#SoloInicio h1 {

    font-weight: 900;
    font-style: normal;
    font-size: 20rem;
    color: var(--texto);
    margin: 0 auto;
    text-shadow: 3px 3px 5px var(--texto2); /* offset-x | offset-y | blur-radius | color */
    
}

/* RECUERDO */

#Recuerdo {

    background-color: var(--fondo-secundario);
    
}

#Recuerdo p {

    font-size: 1.3rem;
    padding: 1.8rem;
    margin: 0;
    text-align: center;
    color: var(--texto2);

}

/* EVENTOS */

#Eventos {

    background-color: var(--color-fondo);
}

/* QUIEN ES TIMEXUS */

#Quieneschronos h1 {

    font-weight: 900;
    font-style: normal;
    font-size: 6rem;
    color: var(--color-principal);
    display: flex;
}

#Quieneschronos p {

    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--texto-parrafo);
    display: flex;
}

/* CONTÁME */

#AgregarHistoria {

    margin: 20px;
    color: var(--texto-parrafo);
}

#AgregarHistoria h1 {

    font-weight: 900;
    font-style: normal;
    font-size: 6rem;
    color: var(--color-principal);
    display: flex;
    margin: 0;
}

#AgregarHistoria p {

    margin: 0;
}

form {

    max-width: 600px;
    margin: auto;
    padding: 20px;
}

label {

    font-weight: normal;
    display: block;
    margin: 25px 0 10px;
}

input, textarea, select, button {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

/* FOOTER */

footer {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#ColumnaDerecha {

    text-align: center;
    justify-content: end;
    float: right;
}

#ColumnaIzquierda {

    display: flex;
}

#ColumnaIzquierda li {

    padding: 10px 0px;
    list-style: none;
}

footer img {

    width: 20%;
    height: auto;
}

footer p {

    color: var(--texto-parrafo);
    margin: 0;
}
